:javascript
  channel = "#{chat.channel}";
  chat_id = "#{chat.id}";
  token = "#{chat_user_token}";

- content_for :footer do
  :javascript
    startChat(#{current_user.id});

:javascript
  var PUSHER_KEY = '#{Pusher.key}'
= javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js"

#wrapper
  #messages
    #new-messages{ style: "display: none" }
      .alert.alert-info
        %a{ href: '#' } New messages are available.
  #members
    %ul
  #message-overlay
  #message-container
    %textarea#message{ disabled: true, name: "message", placeholder: "Type your message here and hit enter..." }
    %button#message-send.btn.btn-primary &gt;
