!!!
%html
  %head
    %title r/van chat
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %link{ rel: "shortcut icon", href: asset_url("favicon.png", "image"), type: "png/image" }
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    :javascript
      var PUSHER_KEY = '#{Pusher.key}'
  %body
    = yield
    = yield :footer
