!!!
%html
  %head
    = stylesheet_link_tag "//cdn.jsdelivr.net/bootstrap/3.0.3/css/bootstrap.css"
    = stylesheet_link_tag "//cdn.jsdelivr.net/bootstrap/3.0.3/css/bootstrap-theme.min.css"
    = stylesheet_link_tag "application"
    %link{ rel: "shortcut icon", href: asset_url("favicon.png"), type: "png/image" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0" }
  %body{ style: "background-image: url(backgrounds/#{(0..23).to_a.sample}.jpg)" }
    %header
      %nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-inner
            .navbar-header
              %a.navbar-brand{ href: "/" } r/van chat

    .container
      = yield
    = yield :javascript
