!!!
%html
  %head
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %link{ rel: "shortcut icon", href: asset_url("favicon.png"), type: "png/image" }
    = stylesheet_link_tag "application"
  %body
    = yield
    = javascript_include_tag "//cdn.jsdelivr.net/jquery/2.0.3/jquery-2.0.3.min.js"
    = javascript_include_tag "application"
    = yield :javascript
